# /root
ansible_notes.txt
github_notes.txt
secrets.json
secrets.yml
secrets.yaml
secrets.txt
secrets.ps1
secret.json
secret.yaml
secret.yml
secret.txt
secret.ps1
*.csv
*.log
*.env
*.txt
.DS_Store
.vs/*

#/godaddy-ssl-renewal
/godaddy-ssl-renewal/ansible_notes.txt
/godaddy-ssl-renewal/github_notes.txt
/godaddy-ssl-renewal/secrets.json
/godaddy-ssl-renewal/secrets.yml
/godaddy-ssl-renewal/secrets.yaml
/godaddy-ssl-renewal/secrets.txt
/godaddy-ssl-renewal/secrets.ps1
/godaddy-ssl-renewal/secret.json
/godaddy-ssl-renewal/secret.yaml
/godaddy-ssl-renewal/secret.yml
/godaddy-ssl-renewal/secret.txt
/godaddy-ssl-renewal/secret.ps1
/godaddy-ssl-renewal/*.csv
/godaddy-ssl-renewal/*.log
/godaddy-ssl-renewal/*.env
/godaddy-ssl-renewal/*.txt
/godaddy-ssl-renewal/.DS_Store
/godaddy-ssl-renewal/certs/*.*
/godaddy-ssl-renewal/csr/*.*
/godaddy-ssl-renewal/private/*.*
/godaddy-ssl-renewal/gd_pfx_work/*.*
/godaddy-ssl-renewal/pem/*.*
/godaddy-ssl-renewal/pem/*.pem
/godaddy-ssl-renewal/.vs/*

#/godaddy-ssl-renewal/powershell
/godaddy-ssl-renewal/powershell/ansible_notes.txt
/godaddy-ssl-renewal/powershell/github_notes.txt
/godaddy-ssl-renewal/powershell/secrets.json
/godaddy-ssl-renewal/powershell/secrets.yml
/godaddy-ssl-renewal/powershell/secrets.yaml
/godaddy-ssl-renewal/powershell/secrets.txt
/godaddy-ssl-renewal/powershell/secrets.ps1
/godaddy-ssl-renewal/powershell/secret.json
/godaddy-ssl-renewal/powershell/secret.yaml
/godaddy-ssl-renewal/powershell/secret.yml
/godaddy-ssl-renewal/powershell/secret.txt
/godaddy-ssl-renewal/powershell/secret.ps1
/godaddy-ssl-renewal/powershell/*.csv
/godaddy-ssl-renewal/powershell/*.log
/godaddy-ssl-renewal/powershell/*.env
/godaddy-ssl-renewal/powershell/*.txt
/godaddy-ssl-renewal/powershell/.DS_Store
/godaddy-ssl-renewal/powershell/certs/*.*
/godaddy-ssl-renewal/powershell/csr/*.*
/godaddy-ssl-renewal/powershell/private/*.*
/godaddy-ssl-renewal/powershell/gd_pfx_work/*.*
/godaddy-ssl-renewal/powershell/pem/*.*
/godaddy-ssl-renewal/powershell/pem/*.pem
/godaddy-ssl-renewal/powershell/.vs/*