# /root
ansible_notes.txt
github_notes.txt
secrets.json
secrets.yml
secrets.yaml
secrets.txt
secrets.ps1
secret.json
secret.yaml
secret.yml
secret.txt
secret.ps1
*.csv
*.log
*.env
*.txt
.DS_Store
.vs/*

#/godaddy-pfx-renewal
/godaddy-pfx-renewal/ansible_notes.txt
/godaddy-pfx-renewal/github_notes.txt
/godaddy-pfx-renewal/secrets.json
/godaddy-pfx-renewal/secrets.yml
/godaddy-pfx-renewal/secrets.yaml
/godaddy-pfx-renewal/secrets.txt
/godaddy-pfx-renewal/secrets.ps1
/godaddy-pfx-renewal/secret.json
/godaddy-pfx-renewal/secret.yaml
/godaddy-pfx-renewal/secret.yml
/godaddy-pfx-renewal/secret.txt
/godaddy-pfx-renewal/secret.ps1
/godaddy-pfx-renewal/*.csv
/godaddy-pfx-renewal/*.log
/godaddy-pfx-renewal/*.env
/godaddy-pfx-renewal/*.txt
/godaddy-pfx-renewal/.DS_Store
/godaddy-pfx-renewal/certs/*
/godaddy-pfx-renewal/gd_pfx_work/*
/godaddy-pfx-renewal/pem/*
/godaddy-pfx-renewal/.vs/*

#/godaddy-pfx-renewal/powershell
/godaddy-pfx-renewal/powershell/ansible_notes.txt
/godaddy-pfx-renewal/powershell/github_notes.txt
/godaddy-pfx-renewal/powershell/secrets.json
/godaddy-pfx-renewal/powershell/secrets.yml
/godaddy-pfx-renewal/powershell/secrets.yaml
/godaddy-pfx-renewal/powershell/secrets.txt
/godaddy-pfx-renewal/powershell/secrets.ps1
/godaddy-pfx-renewal/powershell/secret.json
/godaddy-pfx-renewal/powershell/secret.yaml
/godaddy-pfx-renewal/powershell/secret.yml
/godaddy-pfx-renewal/powershell/secret.txt
/godaddy-pfx-renewal/powershell/secret.ps1
/godaddy-pfx-renewal/powershell/*.csv
/godaddy-pfx-renewal/powershell/*.log
/godaddy-pfx-renewal/powershell/*.env
/godaddy-pfx-renewal/powershell/*.txt
/godaddy-pfx-renewal/powershell/.DS_Store
/godaddy-pfx-renewal/powershell/.vs/*