ansible_notes.txt
github_notes.txt
secrets.json
secrets.yml
secrets.yaml
secrets.txt
secret.json
secret.yaml
secret.yml
secret.txt
*.csv
*.log
*.env
*.txt
.DS_Store
/certs/*
/gd_pfx_work/*
/.vs/*
/godaddy-pfx-renewal/pem/*